* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --box-shadow: hsl(212, 45%, 82%);
}

/****** Layout-structure ******/

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--light-gray);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    max-width: 20rem;
    background-color: var(--white);
    border-radius: 0.938rem;
    box-shadow: 0 0.7rem 2rem var(--box-shadow);
}

/****** QR-code-styling ******/

img {
    max-width: 18.125rem;
    border-radius: 0.625rem;
    margin-top: 0.938rem;
}

/****** Text-part-styling ******/

h1 {
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--dark-blue);
    margin-inline: 1.59rem;
    margin-top: 1.187rem;
    margin-bottom: 1.1rem;
}

p {
    font-weight: 400;
    font-size: 0.938rem;
    color: var(--grayish-blue);
    margin-inline: 1.875rem;
    margin-bottom: 2.49rem;
}